html, 
body {
	font-size: 16px;
	font-family: 'Hind', sans-serif;
	color: rgb(75, 79, 79);

}

.header .container {
	height: 64px;
	margin-left: 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .container .logo {
	display: flex;
	align-items: center;
}

.logo img {
	height: 50px;
}

.logo h3 {
	font-size: 1.2rem;
	color: rgb(71, 73, 73);
	font-weight: bolder;
}

.logo span {
	font-weight: 100;
	color: rgb(134, 140, 140);
}

.menu a {
	padding-right: 16px;
	color: rgb(71, 73, 73);
	font-weight: 100;
	font-size: 0.95rem;
	text-decoration: none;
}

.menu a:hover {
	color: rgb(225, 206, 60);
	font-weight: 400;
}

.banner {
	background-color: rgb(220, 225, 225);
}

.banner .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 32px 24px;
}

.banner .container img {
	width: 60%;
	margin-right: 40px;
}

.banner-content {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-left: 25px;
}

.banner-content h2 {
	color: rgb(75, 79, 79);
	font-size: 2rem;
	font-weight: bold;
	line-height: 2.5rem;
	margin-bottom: 20px;
}

.banner-content p {
	font-size: 1.1rem;
	line-height: 1.5rem;
	margin-bottom: 20px;
}

#button {
	background-color: rgb(145, 149, 149);
	padding-top: 12px;
	padding-bottom: 8px;
	width: 100%;
	height: 15px;
	border-radius: 5px;
}

#button:hover {
	background-color: rgb(208, 195, 93);
}

.banner-content h4 {
	color: white;
	text-align: center;
	font-size: 0.90rem;
}

.information {
	display: flex;
}

.info-main {
	padding: 32px 24px;	
	width: 60%;
}

.info-main img {
	width: 100%;
	margin-bottom: 32px;
}

.info-main h2 {
	font-size: 1.75rem;
	font-weight: bold;
	margin-bottom: 24px;
}

.info-main p {
	margin-bottom: 32px; 
}

#quote {
	font-weight: lighter;
	line-height: 1.5rem;
	font-size: 0.90rem;
	color: rgb(144, 148, 152);
}

.info-sub {
	padding-top: 16px;
}

.sub-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 423px;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 16px;
}

.pc-img {
	width: 35%;
}

.pc-img img {
	width: 100%;
}

.sub-p {
	max-width: 14rem;
	padding: 2rem;

}

.sub-p a {
	text-decoration: none;
	color: rgb(81, 142, 218);
	font-weight: lighter;
	font-size: 0.90rem;
}

.sub-p a:hover {
	color: rgb(20, 84, 194);
	font-weight: 500;
}

#title {
	font-size: 1.20rem;
	font-weight: bold;
	padding-top: 16px;
	padding-bottom: 8px;
	color: rgb(60, 61, 63);
}

#description {
	font-weight: lighter;
	font-size: 0.90rem;
	padding-bottom: 24px;
	line-height: 20px;
	color: rgb(144, 148, 152);
}

#special {
	background-color: rgb(235, 237, 239);
}


.courses {
	background-color: rgb(220, 225, 225);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.courses h2 {
	font-size: 1.75rem;
	font-weight: bold;
	padding-top: 32px;
	padding-bottom: 32px;
}

.row-one, .row-two {
	display: flex;
	justify-content: center;
}

.row-two {
	margin-bottom: 32px;
}

.course-items {
	max-width: 300px;
	background-color: white;
	margin-bottom: 16px;
	display: flex;
	flex-direction: column;
}

.course-items img {
	width: 100%;
}

.course-top {
	height: 220px;
	margin-bottom: 16px;
}

.course-top h3 {
	padding-left: 16px;
}

.course-top p {
	font-size: 0.85rem;
	padding-top: 8px;
	padding-left: 16px;
	font-weight: lighter;
	color: rgb(119, 122, 126);
}

.course-bottom {
	padding-left: 16px;
	padding-right: 16px;
}

.course-bottom p {
	color: rgb(119, 122, 126);
}

#second {
	margin-left: 16px;
	margin-right: 16px;
}

.thesis-container {
	display: flex;
	width: 100%;
}

.thesis h2 {
	padding-top: 32px;
	font-size: 1.75rem;
	font-weight: bold;
	text-align: center;
}

.thesis-main {
	width: 60%;
	padding: 32px 24px 32px 24px;

}

.thesis-main video {
	width: 100%;
}

.thesis-main h3 {
	padding-top: 24px;
	padding-bottom: 24px;
}

.sub-thesis {
	width: 423px;
	padding-top: 32px;
}

.thesis-box {

	display: flex;
	align-items: center;
	width: 100%;
	height: 168px;
	padding: 16px;

}

.thesis-box img {
	width: 35%;
}

.thesis-p {
	margin-left: 15px;
}


.footer {
	display: flex;
	justify-content: space-between;
	font-size: 0.80rem;
	color: rgb(60, 61, 63);
	padding: 20px 5px 70px 24px;
	border-top: solid rgb(235, 238, 242);
	color: rgb(144, 148, 152);
}

.legal span {
	padding-right: 16px;
}


.mobile-menu, 
.mobile-img,
.mobile-tabs,
.video-mobile {
	display: none;
}


@media only screen and (max-width: 480px) {
	.mobile-menu {
		height: 64px;
		display: flex;
		justify-content: space-around;
	}

	.mobile-menu img:hover {
		color: rgb(225, 206, 60);
	}

	.header .container {
		display: none;

	}

	.banner .container {
		display: block;
		padding: 0px;
	}

	.banner .container img {
		height: 180px;
		width: 100%;
	}

	.banner-content {
		margin: 32px 16px;
	}

	.banner-content h2 {
		margin-bottom: 32px;
	}

	.banner-content p {
		margin-bottom: 24px;
	}

	.banner-content h4 {
		margin-bottom: 32px;
	}

	.banner .container {
		margin-bottom: -32px;
	}

	.information {

	}

	.info-main {
		display: none;
	}

	.info-sub {
		width: 100%;
		padding-top: 0px;
		padding-bottom: 32px;
		display: block;
		margin: 0px;
		padding-left: 16px;


	}

	.sub-box {
		display: block;
		padding-bottom: 0px;
		padding-left: 0px;
	}

	.pc-img img {
		display: none;
	}

	.mobile-img {
		display: block;
		width: 100%;

	}

	.mobile-img img {
		width: 100%;
		
	}

	.sub-p p {
		display: block;
		padding-left: 32px;	
		width: 100%;	
	}

	#special {
		background-color: white;
	}

	.row-one, .row-two{
		display: none;
	}

	.courses {
		background-color: white;
	}

	.mobile-tabs {
		display: block;
		width: 92%;
		margin-bottom: 24px;
	}

	.tabs h3 {
		background-color: rgb(235, 237, 239);
		padding: 16px;
		font-size: 1.25rem;
		margin-bottom: 8px;
		margin-left: 16px;
		margin-right: 16px;
	}

	.thesis {
		padding-bottom: 24px;
		width: 100%;
	}

	.thesis h2 {
		padding-bottom: 32px;
	}

	.thesis-container {
		display: none;

	}

	.video-mobile {
		display: block;
	}

	.video-mobile video {
		width: 100%;
	}

	.footer {
		border-top: none; 
	}

	.legal span {
		display: none;
	}
}


