html, 
body {
	font-size: 16px;
	font-family: 'Hind', sans-serif;
	color: rgb(75, 79, 79);

}

.header .container {
	height: 64px;
	margin-left: 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .container .logo {
	display: flex;
	align-items: center;
}

.logo img {
	height: 50px;
}

.logo h3 {
	font-size: 1.2rem;
	color: rgb(71, 73, 73);
	font-weight: bolder;
}

.logo span {
	font-weight: 100;
	color: rgb(134, 140, 140);
}

.menu a {
	padding-right: 16px;
	color: rgb(71, 73, 73);
	font-weight: 100;
	font-size: 0.95rem;
	text-decoration: none;
}

.menu a:hover {
	color: rgb(225, 206, 60);
	font-weight: 400;
}

.banner {
	background-color: rgb(220, 225, 225);
}

.banner .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 32px 24px;
}

.banner .container img {
	width: 60%;
	margin-right: 40px;
}

.banner-content {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-left: 25px;
}

.banner-content h2 {
	color: rgb(75, 79, 79);
	font-size: 2rem;
	font-weight: bold;
	line-height: 2.5rem;
	margin-bottom: 20px;
}

.banner-content p {
	font-size: 1.1rem;
	line-height: 1.5rem;
	margin-bottom: 20px;
}

#button {
	background-color: rgb(145, 149, 149);
	padding-top: 12px;
	padding-bottom: 8px;
	width: 100%;
	height: 15px;
	border-radius: 5px;
}

#button:hover {
	background-color: rgb(208, 195, 93);
}

.banner-content h4 {
	color: white;
	text-align: center;
	font-size: 0.90rem;
}

.information {
	display: flex;
}

.info-main {
	padding: 32px 24px;	
	width: 60%;
}

.info-main img {
	width: 100%;
	margin-bottom: 32px;
}

.info-main h2 {
	font-size: 1.75rem;
	font-weight: bold;
	margin-bottom: 24px;
}

.info-main p {
	font-weight: lighter;
	line-height: 1.5rem;
}

#quote {
	margin-bottom: 32px; 
}

.info-sub {
	width: 40%;
	padding-top: 16px;
}

.sub-box {
	display: flex;
	align-items: center;
}

.sub-box img {
	width: 35%;
	padding: 16px;
}

.sub-p a {
	text-decoration: none;
	color: rgb(81, 142, 218);
	font-weight: lighter;
	font-size: 0.90rem;
}

.sub-p a:hover {
	color: rgb(20, 84, 194);
	font-weight: 500;
}

#title {
	font-size: 1.10rem;
	font-weight: bold;
	padding-top: 16px;
	padding-bottom: 8px;
	color: rgb(60, 61, 63);
}

#description {
	font-weight: lighter;
	font-size: 0.90rem;
	padding-bottom: 24px;
	line-height: 20px;
	
}

#guest {
	background-color: rgb(201, 206, 206);
}


.courses {
	background-color: rgb(220, 225, 225);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.courses h2 {
	font-size: 1.75rem;
	font-weight: bold;
	padding-top: 32px;
	padding-bottom: 32px;
}

.row-one, .row-two {
	display: flex;
	justify-content: center;
}

.row-two {
	margin-bottom: 32px;
}

.course-items {
	max-width: 300px;
	background-color: white;
	margin-bottom: 16px;
	display: flex;
	flex-direction: column;
}

.course-items img {
	width: 100%;
}

.course-top {
	height: 220px;
	margin-bottom: 16px;
}

.course-top h3 {
	padding-left: 16px;
}

.course-top p {
	font-size: 0.85rem;
	padding-top: 8px;
	padding-left: 16px;
	font-weight: lighter;
	color: rgb(119, 122, 126);
}

.course-bottom {
	padding-left: 16px;
	padding-right: 16px;
}

.course-bottom p {
	color: rgb(119, 122, 126);

	
}

#second {
	margin-left: 16px;
	margin-right: 16px;
}




